<div class="container py-3">


<h4>Choose A Language</h4>
</div>

<section>
	<% @languages.each do |language| %>
	  <div class="container py-3">
	    <div class="card">
	      <div class="row">
	        <div class="col-md-3">

	        	<div class="language_icon">
	            <i class="<%= language.image %>"></i>
            </div>
            
	        </div>
          <div class="col-md-5 px-3">
            <div class="card-block px-3">
              <h1 class="card-title"><%= language.language_name %></h1>
              <p class="card-text">Coding Language</p>
              <a href="/coding_languages/<%= language.id %>" class="btn btn-primary">Start Here</a>
            </div>
          </div>
	        </div>
	      </div>
	    </div>
	<% end %>
</section>


