<button type="button" class="btn btn-primary btn-lg btn-block">Level one</button>
<button type="button" class="btn btn-secondary btn-lg btn-block">Level Two</button>
<button type="button" class="btn btn-primary btn-lg btn-block">Level Three</button>
<button type="button" class="btn btn-secondary btn-lg btn-block">Level Four</button>
<button type="button" class="btn btn-primary btn-lg btn-block">Level Five</button>
<button type="button" class="btn btn-secondary btn-lg btn-block">Level Six</button>
<button type="button" class="btn btn-primary btn-lg btn-block">Level Seven</button>
<button type="button" class="btn btn-secondary btn-lg btn-block">Level Eight</button>
<button type="button" class="btn btn-primary btn-lg btn-block">Level Nine</button>
<button type="button" class="btn btn-secondary btn-lg btn-block">Level Ten</button>